@{
    ViewData["Title"] = "Application Submitted";
}
@model Sf376_Mission6.Models.ApplicationResponse

@*Send a confirmation with the movie title entered*@

<h2>Application Received. Thank you for adding @Model.Title to the database.</h2>